.popup {
  text-align: center;
  width: 800px;
}

.popup-greet {
  color: #80FFAB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-style: italic;
  letter-spacing: 0.1em;
  font-family: "Noto Sans", sans-serif;
  margin-top: 2em;
  padding: 0 0.8em 0.1em 0.8em;
}

.brand {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 0em;
  font-style: normal;
  font-weight: 600;
}

.stack-head {
  color: #ffffff;
  font-family: 'Roboto Mono', monospace;
  /* font-weight: 700; */
  font-size: 2em;
}

.tech-logos {
  padding: 0 2em 2em 2em;
}

.logo {
  height: 40px;
  padding-right: 1.8em;
}

.contrib-msg {
  color: #ffffff;
  font-family: 'Roboto Mono', monospace;
  /* font-weight: 700; */
  font-size: 1.5em;
  margin: 2em 2em 3em 2em;
}

.contrib-msg a {
  color: #0055ff;
  font-weight: bold;
}

